@import "tailwindcss";

@source '../templates/**/*.twig';
@source '../assets/**/*.{js,ts,jsx,tsx}';

@tailwind base;

@theme {
  --color-primary: #003399;
  --color-primary-foreground: #ffffff;

  --color-background: #ffffff;
  --color-foreground: #1e1e1e;

  --color-border: #d4d4d4;

  --color-secondary: #f5f5f5;
  --color-secondary-foreground: #1e1e1e;

  --color-muted: #e5e5e5;
  --color-muted-foreground: #666666;

  --color-accent: #e8eef7;
  --color-accent-foreground: #003399;

  --color-destructive: #d4183d;
  --color-destructive-foreground: #ffffff;
}

@layer base {

  html {
    font-size: var(--font-size);
  }

  h1 {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h2 {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h3 {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h4 {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  label {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  button {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  input {
    font-size: var(--text-base);
    font-weight: var(--font-weight-normal);
    line-height: 1.5;
  }
}
