
:root {
  --font-size: 16px;
  --background: #ffffff;
  --foreground: #1e1e1e;
  --card: #ffffff;
  --card-foreground: #1e1e1e;
  --popover: #ffffff;
  --popover-foreground: #1e1e1e;
  --primary: #003399;
  --primary-foreground: #ffffff;
  --secondary: #f5f5f5;
  --secondary-foreground: #1e1e1e;
  --muted: #e5e5e5;
  --muted-foreground: #666666;
  --accent: #e8eef7;
  --accent-foreground: #003399;
  --destructive: #d4183d;
  --destructive-foreground: #ffffff;
  --border: #d4d4d4;
  --input: transparent;
  --input-background: #f5f5f5;
  --switch-background: #cbced4;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --ring: #003399;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.25rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: #030213;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

/* roboto-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto/roboto-v51-latin-regular.woff2') format('woff2');
}
/* roboto-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/roboto/roboto-v51-latin-italic.woff2') format('woff2');
}
/* roboto-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto/roboto-v51-latin-600.woff2') format('woff2');
}
/* roboto-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto/roboto-v51-latin-700.woff2') format('woff2');
}
/* roboto-800 - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/roboto/roboto-v51-latin-800.woff2') format('woff2');
}
/* roboto-900 - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto/roboto-v51-latin-900.woff2') format('woff2');
}
